
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Автор: <%= @row['title'] %></h3>
    
    <span style="font-size: 75%; color: #999"> Добавлен: <%= @row['datetime']%></span>
  </div>
  <div class="panel-body">
    <%= @row['content'] %>
    <br>

    
    
      
  </div>
</div>

<form action="/details/<%= @row['id']%>" method="POST">

  

  
  <textarea name="content" class="form-control" rows="2" placeholder="Введите текст"></textarea>
  
  <button type="submit" class="btn btn-primary">Добавить коментарий</button>
</form>

<h4>Коментарии!</h4>
<br>
<%@comments.each do |comment| %>
  <p>
    <%= comment['content'] %>
    <br>
    <br>
    <span style="font-size: 75%; color: #999"> Добавлен: <%= comment['datetime']%></span>
  </p>
  <hr>
<%end %>

